# Compose settings
COMPOSE_PROJECT_NAME=demo-ai-observability

# Ollama settings
OLLAMA_MODELS=gpt-oss:latest # llama3:latest
OLLAMA_MODEL_DEFAULT=gpt-oss:latest
OPENAI_API_KEY=blaat            # Just a dummy value

# Langfuse variables
LANGFUSE_SECRET_KEY="sk-lf-xxxxxxxxxxxxx-replace-me"
LANGFUSE_PUBLIC_KEY="pk-lf-xxxxxxxxxxxxx-replace-me"
LANGFUSE_BASE_URL="https://cloud.langfuse.com"
LANGFUSE_TRACING_ENVIRONMENT=local

# Sentry variables
SENTRY_DSN=https://<your-dsn-entry>.ingest.de.sentry.io/<project-id>
SENTRY_OTLP_ENDPOINT=https://<project-id>.ingest.de.sentry.io/api/<project-id>/integration/otlp
SENTRY_AUTH_TOKEN="sntryu_xxxxxxxxxxxx-replace-me"